# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
# iOS
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/Pods/
# Android
android/.gradle/
android/local.properties
